.description {
  width: 100;

  .description__wrap {
    width: 100%;
  }

  .description__slider {
    width: 100%;
    min-height: 500px;
    position: relative;
    overflow: hidden;
  }

  .description__slider_control {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: rotateX(-50%);
    z-index: 100;
  }

  .description__slider_control_item {
    @include button-reset;
    @include opacity-link;
    @include hide-font;
    width: 52px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      top: 50%;
      left: 50%;
      border: solid $auxiliary-color;
      border-width: 0 5px 5px 0;
    }

    &.prev {
      &::before {
        @include translate-rotate(-50%, 135deg);
      }
    }

    &.next {
      &::before {
        @include translate-rotate(-50%, 320deg);
      }
    }
  }

  .description__slider_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    background-position: center center;
    background-size: cover;
    color: $auxiliary-color;
    text-align: center;

    h2 {
      max-width: 900px;
      font-family: $title-bold-font;
      font-size: 4rem;
      z-index: 6;
    }

    p {
      max-width: 900px;
      font-family: $main-font;
      font-size: 1.5rem;
      margin-top: 30px;
      z-index: 6;
    }

    &--active {
      left: 0;
      transition: left 0.5s;
    }

    &.item_checkup {
      background-image: url("../img/bg/descr_bg_checkup.jpg");
    }

    &.item_checkup_all {
      background-image: url("../img/bg/descr_bg_checkup_all.jpg");
    }

    &.item_maintenance {
      background-image: url("../img/bg/descr_bg_maintenance.jpg");
    }

    &.item_washing {
      background-image: url("../img/bg/descr_bg_washing.jpg");
    }

    &.item_tire_service {
      background-image: url("../img/bg/descr_bg_tire_service.jpg");
    }

    &.item_wheel_alignment {
      background-image: url("../img/bg/descr_bg_wheel_alignment.jpg");
    }

    &.item_engine {
      background-image: url("../img/bg/descr_bg_engine.jpg");
    }


    &--special_offer {
      button {
        @include button-reset;
        width: 164px;
        min-height: 46px;
        background-color: #81417b;
        font-family: $main-font;
        color: $auxiliary-color;
        font-size: 18px;
        border-radius: 23px;
        margin-top: 35px;
        z-index: 11;
        transition: all 0.5s;

        &:hover {
          background-color: #6f42c1;
        }

        &:active {
          opacity: 0.7;
        }
      }
    }
  }

  .description__slider_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
  }

  @media (max-width: $desktop-width) {
    .description__slider_control_item {
      width: 45px;
      height: 45px;
    }

    .description__slider_item {
      &--special_offer {
        button {
          display: none;
        }
      }

      p {
        max-width: 650px;
        font-size: 1rem;
      }
    }
  }

  @media (max-width: $table-width) {
    .description__slider_control_item {
      width: 30px;

      &::before {
        width: 15px;
        height: 15px;
      }
    }

    .description__slider_item {
      h2 {
        max-width: 287px;
        font-size: 2rem;
      }

      p {
        display: none;
      }
    }
  }
}
