.info {
  width: 100%;
  padding: 120px 0;
  background-color: #e3e3e3;

  .info__wrap {
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
  }

  .info__block_text {
    width: 50%;
    padding: 0 50px 120px;


    h3 {
      width: 138px;
      font-family: $title-font;
      font-size: 27px;
      margin-bottom: 30px;
      margin-left: 10px;
    }

    p {
      width: 100%;
      font-family: $main-font-Light;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 45px;
    }
  }

  .info__block_img {
    width: 50%;
    min-height: 364px;
    background-image: url("../img/bg/info_bg.jpg");
    background-size: cover;
    background-position: center;
  }

  @media (max-width: $desktop-width) {
    padding: 60px 0;

    .info__wrap {
      flex-direction: column;
    }

    .info__block_text {
      width: 100%;
      padding-bottom: 60px;
      text-align: center;

      h3,
      p {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .info__block_img {
      width: 100%;
    }
  }

  @media (max-width: $table-width) {
    padding: 10px 0;

    .info__wrap {
      max-width: auto;
      width: 100%;
    }

    .info__block_text {
      padding: 0 10px 1px;

      p {
        max-width: 520px;
        min-width: 300px;
      }

      p:last-of-type {
        display: none;
      }
    }

    .info__block_img {
      max-width: 520px;
      margin: 0 auto;
    }
  }
}
