@mixin button-reset {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

@mixin opacity-link {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }
}

@mixin hide-font {
  font-size: 0;
  line-height: 0;
}

@mixin translate-rotate($translate, $rotate) {
  transform: translate($translate, $translate) rotate($rotate);
}

@mixin animation-icon {
  animation-duration: 0.5s;
  animation-name: flicker;

  @keyframes flicker {
    0% {
      border: 15px solid rgba(108, 117, 125, 0.3);
    }
    100% {
      border: none;
    }
  }
}
