$desktop-width: 1199px;
$table-width: 767px;
$main-color: #000000;
$auxiliary-color: #ffffff;
$main-font: "Roboto", "Aria", sans-serif;
$title-font: "Roboto Condensed", "Aria", sans-serif;
$title-bold-font: "Roboto Condensed Bold", "Aria", sans-serif;
